*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.start{
  border: 2px rgb(3, 78, 3) solid;
  background-color: rgba(187, 218, 199, 0.95);
  padding: 60px 120px;
  font-size: 50px;
  font-weight: 800;
  color:rgba(24, 62, 39, 0.66);
  position: relative;
  top: 300px;
  left: 555px;
}

.start:hover{
  cursor: pointer;
  background-color: rgba(122, 224, 161, 0.426);  
}

#scoring{
  display: flex;
  justify-content: space-evenly;
}



#scoring div{
  font-size: 30px;
  font-weight: 800;
  border: 2px rgb(3, 78, 3) solid;
  background-color: rgba(30, 226, 105, 0.426);
  padding: 10px 30px;
  /* font-size: 50px; */
  /* font-weight: 800; */
  color:rgba(24, 62, 39, 0.66);
  
}

#myCar{
  height: 100px;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 750px;
  
}


#carTrack{
  width: 400px;
  height: 91vh;
  background: #2d3436;
  margin: auto;
  /* position: relative; */
  /* position: absolute; */
}

#lines{
  width: 10px;
  height: 100px;
  background: #fff;
  position: absolute;
  margin-left: 195px;
}